* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/images/pattern.png');
    background-size: 600px; 
    background-repeat: repeat;

}
.login-container {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.login-box {
    background: #d7e0c5;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}
.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}
.login-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #143109;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.login-box button:hover {
    background-color: #142109;
}
.branding {
    margin-left: 40px;
    text-align: center;
}

.branding img {
    width: 120px;
    margin-bottom: 10px;
}
a{
    color: #143109;
    font-size: 0.8rem;
}
@media (max-width: 430px) {
    .login-container {
        flex-direction: column;
        padding: 30px;
    }
    .branding {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 375px) {
    .login-container {
        padding: 10px;
        transform: scale(0.99);
    }
}